@using Microsoft.AspNetCore.Identity;
@using signup.Data;
@inject SignInManager<AppUser> signInManager;
@inject AppDbContext dbContext;
@model List<Cart>;
@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if(Model == null || Model.Count == 0) {
        <div>Cart is empty.</div>
    } else {
        @foreach(var item in Model) { 
            /* La navigation property del prodotto risultava vuota */
            item.Product = dbContext.Product.Where(p => p.ProductId == item.ProductId).ElementAt(0);
            await Html.RenderPartialAsync(
                "_CartPartial.cshtml", item
            );
        }
    }
</div>
