@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Author Nicola Stroffolino, project repo: <a href="https://github.com/nicola-stroffolino-scuola/signup">https://github.com/nicola-stroffolino-scuola/signup</a>.</p>
</div>
