@using signup.Data;
@inject AppDbContext _dbContext;
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="container">
        <div>
            @foreach(var item in _dbContext.Product.ToList()) {
                await Html.RenderPartialAsync("_ProductPartial.cshtml", new Cart { Product = item });
            }
        </div>
    </div>
</div>  
